<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
  <test thread-count="5" name="Test">
<parameter name="browser" value="chrome"></parameter>
<parameter name="url" value="http://localhost:8180/pc/PolicyCenter.do"></parameter>
<parameter name="username" value="su"></parameter>
<parameter name="password" value="gw"></parameter>


    <classes>
      <class name="com.testng.policycreationusingtestng"/>
    </classes>
  </test> <!-- Test -->
<test thread-count="5" name="Test1">
<parameter name="browser" value="edge"></parameter>
<parameter name="url" value="http://localhost:8180/pc/PolicyCenter.do"></parameter>
<parameter name="username" value="su"></parameter>
<parameter name="password" value="gw"></parameter>


    <classes>
      <class name="com.testng.policycreationusingtestng"/>
    </classes>
  </test> <!-- Test -->

</suite> <!-- Suite -->
